force-app/main/default/flows/BuildingProject_BidderCircleExpansion.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_Values_to_Collections</name>
        <label>Assign Values to Collections</label>
        <locationX>446</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>IconCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:service_crew</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:customers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom47</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Raico_bidder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Proactive_bidder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Competitor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescCollection</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescCollection</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescCollection</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>IconColl12</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>BidderScreenflowAssignment</name>
        <label>BidderAssignment</label>
        <locationX>710</locationX>
        <locationY>2978</locationY>
        <assignmentItems>
            <assignToReference>BiddingCreation.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>BiddingName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BiddingCreation.Account__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedBidAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BiddingCreation.ContactPerson__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ContactOutput</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BiddingCreation.Interest__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bidder_Interest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BiddingCreation.Building_Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BiddingCreation.Presented__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PresentedToBidder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BiddingCreation.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RTChoice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>BiddingCreation.Competitor__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedCompetitorAcc</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateBidding</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CompetitorRTAssignment</name>
        <label>CompetitorRTAssignment</label>
        <locationX>314</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>RTChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBidderRT_Competitor.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Bidder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>IconColl12</name>
        <label>IconColl1</label>
        <locationX>446</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>IconColl1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:customers</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>IconColl1</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom47</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Proactive_bidder</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>LabelColl</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Label.Competitor</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescColl1</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>DescColl1</assignToReference>
            <operator>Add</operator>
        </assignmentItems>
        <connector>
            <targetReference>Bidder_Circle_Check</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Opportunity_Assignment</name>
        <label>Opportunity Assignment</label>
        <locationX>446</locationX>
        <locationY>3302</locationY>
        <assignmentItems>
            <assignToReference>OpportunityProABid.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SelectedBidAccount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProABid.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppCloseDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProABid.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProABid.BuildingProject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProABid.External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppExtID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProABid.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>OpportunityProABid.ResubmissionDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ResubmissinoDateOpp</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateProactiveBidderOppy</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PresentedAssignmentY</name>
        <label>PresentedAssignmentY</label>
        <locationX>314</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>PresentedToBidder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>PresentedN</name>
        <label>PresentedN</label>
        <locationX>578</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>PresentedToBidder</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GetAccount</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ProActRTAssignment</name>
        <label>ProActRTAssignment</label>
        <locationX>578</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>RTChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBidderRT_ProactiveB.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Bidder</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>RaicoBidderRTAssignment</name>
        <label>RaicoBidderRTAssignment</label>
        <locationX>50</locationX>
        <locationY>1190</locationY>
        <assignmentItems>
            <assignToReference>RTChoice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetBidderRT_RaicoBidder.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_a_Bidder</targetReference>
        </connector>
    </assignments>
    <choices>
        <description>The bidder list was sent</description>
        <name>BidderListSentChoice</name>
        <choiceText>Bidder List&apos;s been sent</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <decisions>
        <description>The decision if the creation of bidder records allows all record types or restricts it based on the sending of the bidder list.</description>
        <name>Bidder_Circle_Check</name>
        <label>Bidder Circle Check</label>
        <locationX>446</locationX>
        <locationY>782</locationY>
        <defaultConnector>
            <targetReference>RTSelec1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Bidder_List_sent_out</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>BidderListSentV</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RTSelectionRestricted</targetReference>
            </connector>
            <label>Bidder List sent out</label>
        </rules>
    </decisions>
    <decisions>
        <name>BidderDuplicateCheck</name>
        <label>BidderDuplicateCheck</label>
        <locationX>446</locationX>
        <locationY>2114</locationY>
        <defaultConnector>
            <targetReference>Is_Bidderlist</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>DuplicateExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetBidderDuplicates.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>DuplicateMessage</targetReference>
            </connector>
            <label>DuplicateExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Bidderlist</name>
        <label>Is Bidderlist?</label>
        <locationX>710</locationX>
        <locationY>2222</locationY>
        <defaultConnector>
            <targetReference>BidderScreenflowAssignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Bidderlist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RaicoBRT</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>Yes_Bidderlist</label>
        </rules>
    </decisions>
    <decisions>
        <name>PresentedDecision</name>
        <label>PresentedDecision</label>
        <locationX>446</locationX>
        <locationY>1490</locationY>
        <defaultConnector>
            <targetReference>PresentedN</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>presentedY</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Presented</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>PresentedAssignmentY</targetReference>
            </connector>
            <label>presentedY</label>
        </rules>
    </decisions>
    <decisions>
        <name>ProactiveBidderOppy</name>
        <label>ProactiveBidderOppy</label>
        <locationX>710</locationX>
        <locationY>3194</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProactiveBidderOpp</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RTChoice</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetBidderRT_ProactiveB.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Assignment</targetReference>
            </connector>
            <label>ProactiveBidderOpp</label>
        </rules>
    </decisions>
    <decisions>
        <name>RecordTypeIDAssignment</name>
        <label>RecordTypeIDAssignment</label>
        <locationX>446</locationX>
        <locationY>1082</locationY>
        <defaultConnector>
            <targetReference>Create_a_Bidder</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>RaicoBRT</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>SelectionAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Raico bidder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectionAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Raico Bieter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RaicoBidderRTAssignment</targetReference>
            </connector>
            <label>RaicoBRT</label>
        </rules>
        <rules>
            <name>CompetitorRT1</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>SelectionAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Competitor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectionAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Wettbewerber</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CompetitorRTAssignment</targetReference>
            </connector>
            <label>CompetitorRT</label>
        </rules>
        <rules>
            <name>ProAcRT</name>
            <conditionLogic>1 OR 2</conditionLogic>
            <conditions>
                <leftValueReference>SelectionAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Proactive bidder</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>SelectionAnswer</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Initiativbieter</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ProActRTAssignment</targetReference>
            </connector>
            <label>ProAcRT</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>Bidderpicklistchoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Interest__c</picklistField>
        <picklistObject>Bidder__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CompetitorRT</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bidder__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01226000002EgMRAA0</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProBidderRT</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bidder__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01226000002EgMMAA0</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RaicoBidderRT</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bidder__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>01226000002EgMMAA0</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RTSelection</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bidder__c</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BiddingName</name>
        <dataType>String</dataType>
        <expression> MID({!GetAccount.Name}+&apos; | &apos;+{!GetBuildingProject.Name}, 0, 79)</expression>
    </formulas>
    <formulas>
        <name>OppCloseDate</name>
        <dataType>Date</dataType>
        <expression>IF(isnull({!GetBuildingProject.SubmissionDate__c}), ADDMONTHS(TODAY(),1), {!GetBuildingProject.SubmissionDate__c})</expression>
    </formulas>
    <formulas>
        <name>OppExtID</name>
        <dataType>String</dataType>
        <expression>{!GetAccount.ComarchAccountNumber__c} + {!GetBuildingProject.ComarchBuildingProjectNumber__c}</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!GetAccount.Name} +&apos; | &apos;+ {!GetBuildingProject.Name}</expression>
    </formulas>
    <formulas>
        <name>ResubmissinoDateOpp</name>
        <dataType>Date</dataType>
        <expression>TODAY() +7</expression>
    </formulas>
    <interviewLabel>BuildingProject_BidderCircleExpansion {!$Flow.CurrentDateTime}</interviewLabel>
    <isAdditionalPermissionRequiredToRun>true</isAdditionalPermissionRequiredToRun>
    <label>BuildingProject_BidderCircleExpansion</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateBidding</name>
        <label>CreateBidding</label>
        <locationX>710</locationX>
        <locationY>3086</locationY>
        <connector>
            <targetReference>ProactiveBidderOppy</targetReference>
        </connector>
        <faultConnector>
            <targetReference>BIddingErrorScreen</targetReference>
        </faultConnector>
        <inputReference>BiddingCreation</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateProactiveBidderOppy</name>
        <label>Create Proactive Bidder Oppy</label>
        <locationX>446</locationX>
        <locationY>3410</locationY>
        <faultConnector>
            <targetReference>OppErrorCreation</targetReference>
        </faultConnector>
        <inputReference>OpportunityProABid</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetAccount</name>
        <label>GetAccount</label>
        <locationX>446</locationX>
        <locationY>1790</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBuildingProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>SelectedBidAccount</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBidderDuplicates</name>
        <label>GetBidderDuplicates</label>
        <locationX>446</locationX>
        <locationY>2006</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>BidderDuplicateCheck</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetAccount.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Building_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetBuildingProject.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Bidder__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Checks if the bidder list has been sent.</description>
        <name>GetBidderListSentStatus</name>
        <label>GetBidderListSentStatus</label>
        <locationX>446</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBidderRT_RaicoBidder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>BuildingProject__c</object>
        <outputAssignments>
            <assignToReference>BidderListSentV</assignToReference>
            <field>BidderListSent__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetBidderRT_Competitor</name>
        <label>GetBidderRT_Competitor</label>
        <locationX>446</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBidderRT_ProactiveB</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bidder__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Competitor</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBidderRT_ProactiveB</name>
        <label>GetBidderRT_ProactiveB</label>
        <locationX>446</locationX>
        <locationY>458</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Values_to_Collections</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bidder__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Proactive_bidder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBidderRT_RaicoBidder</name>
        <label>GetBidderRT_RaicoBidder</label>
        <locationX>446</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBidderRT_Competitor</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bidder__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Raico_bidder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <queriedFields>Id</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetBuildingProject</name>
        <label>GetBuildingProject</label>
        <locationX>446</locationX>
        <locationY>1898</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBidderDuplicates</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuildingProject__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>446</locationX>
        <locationY>2330</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Email</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactOutput</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateContact</name>
        <label>UpdateContact</label>
        <locationX>446</locationX>
        <locationY>2546</locationY>
        <connector>
            <targetReference>BidderScreenflowAssignment</targetReference>
        </connector>
        <faultConnector>
            <targetReference>EmailError</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>ContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>BIddingErrorScreen</name>
        <label>BIddingErrorScreen</label>
        <locationX>1238</locationX>
        <locationY>3194</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>X1_von_EmailErrorEN_kopieren</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;An error has occurred.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Make sure you have filled in all the required fields.&lt;/li&gt;&lt;li&gt;Check if the bidder does not already exist and you have just tried to create a duplicate.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BidderErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Es ist ein Fehler aufgetreten.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Stellen Sie sicher, dass sie alle notwendigen Pflichtfelder ausgefüllt haben.&lt;/li&gt;&lt;li&gt;Prüfen Sie ob der Bieter nicht bereits existiert und sie eben versucht haben ein Duplikat zu erzeugen.&lt;/li&gt;&lt;/ol&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_Email</name>
        <label>Check Email</label>
        <locationX>446</locationX>
        <locationY>2438</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>UpdateContact</targetReference>
        </connector>
        <fields>
            <name>DataCheck</name>
            <fieldText>&lt;p&gt;{!$Label.DataCheck}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ContactEmail</name>
            <extensionName>flowruntime:email</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>value</name>
                <value>
                    <elementReference>getContact.Email</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Create_a_Bidder</name>
        <label>Create a Bidder</label>
        <locationX>446</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>PresentedDecision</targetReference>
        </connector>
        <fields>
            <name>CompetitorAcc</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.Competitor</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>AccType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedCompetitorAcc</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RTChoice</leftValueReference>
                    <operator>Contains</operator>
                    <rightValue>
                        <elementReference>GetBidderRT_Competitor.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>BidderAccount1</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.Fabricator</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>whereClause</name>
                <value>
                    <stringValue>InvoiceRecipient__c=false</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>SelectedBidAccount</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>BidderContact1</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>SelectedBidAccount</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>Child</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.Contact</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>ContactOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactOutput</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RTChoice</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>GetBidderRT_Competitor.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Presented</name>
            <dataType>Boolean</dataType>
            <fieldText>Presented to bidder</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RTChoice</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>GetBidderRT_Competitor.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Bidder_Interest</name>
            <choiceReferences>Bidderpicklistchoice</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Bidder Interest</fieldText>
            <fieldType>DropdownBox</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>RTChoice</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <elementReference>GetBidderRT_Competitor.Id</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>DuplicateMessage</name>
        <label>DuplicateMessage</label>
        <locationX>182</locationX>
        <locationY>2222</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>DuplicateMessageTextDE</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Es wurde bereits ein Datensatz für diesen Verarbeiter angelegt. &lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;﻿Bitte verwenden Sie diesen, oder wählen einen anderen Verarbeiter aus um Duplikate zu vermeiden.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>DuplicateMessageTextEN</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;A bidder record has already been created for this Fabricator.&amp;nbsp;&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Please use it or select another Fabricator to avoid duplicates.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>EmailError</name>
        <label>EmailError</label>
        <locationX>710</locationX>
        <locationY>2654</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>EmailErrorEN</name>
            <fieldText>&lt;p&gt;There may be something wrong with the email address you entered. Either the form is invalid or it already exists at another contact.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>EmailErrorDE</name>
            <fieldText>&lt;p&gt;Womöglich stimmt etwas mit der eingegebenen Emailadresse nicht. Entweder ist die Form unzulässig, oder sie existiert bereits an einem anderen Kontakt.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>OppErrorCreation</name>
        <label>OppErrorCreation</label>
        <locationX>710</locationX>
        <locationY>3518</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>X2_von_EmailErrorEN_kopieren</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;An error has occurred.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Make sure you have filled in all the required fields.&lt;/li&gt;&lt;li&gt;Check if the bidder does not already exist and you have just tried to create a duplicate.&lt;/li&gt;&lt;li&gt;Its possible that there is already an opportunity with the selected account for this project.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>OpportunityErrorScreen</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;﻿Es ist ein Fehler aufgetreten.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;ol&gt;&lt;li&gt;Stellen Sie sicher, dass sie alle notwendigen Pflichtfelder ausgefüllt haben.&lt;/li&gt;&lt;li&gt;Prüfen Sie ob der Bieter nicht bereits existiert und sie eben versucht haben ein Duplikat zu erzeugen.&lt;/li&gt;&lt;li&gt;Es ist möglich, dass es bereits eine Opportunity mit dem ausgewählten Account für dieses Projekt gibt.&lt;/li&gt;&lt;/ol&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>RTSelec1</name>
        <label>RTSelec1</label>
        <locationX>578</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecordTypeIDAssignment</targetReference>
        </connector>
        <fields>
            <name>RTSelec1_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RTSelec1_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RTSele1</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>IconCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>DescCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>LabelCollection</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>{!$Label.SelectBidderType}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectionAnswer</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RTSelec1_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Explanation2_EN</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Raico bidders&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Bidders who are actively proposed by Raico and placed on the bidder list (if such a list has been requested)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Proactive bidders&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Fabricator that we have notified about the project, or who have applied on their own initiative.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Competitors&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Bidders who are positioned with another system house (competitor)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Language</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>de</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Explanation2_DE</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Raico Bieter&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Bieter, welche seitens Raico aktiv vorgeschlagen und auf die Bieterliste gesetzt werden (Falls eine solche angefordert wurde)&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Initiativbieter&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Verarbeiter welche wir auf das Projekt aufmerksam gemacht haben, oder sich auf eigene Initiative beworben haben.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Wettbewerber&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Bieter, die mit einem anderen Systemhaus (Wettbewerber) aufgestellt sind&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Language</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>de</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>RTSelectionRestricted</name>
        <label>RTSelectionRestricted</label>
        <locationX>314</locationX>
        <locationY>890</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>RecordTypeIDAssignment</targetReference>
        </connector>
        <fields>
            <name>RTSelectionRestricted_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>RTSelectionRestricted_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RTSelectionRestricted1</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isResponsive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>LabelColl</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>IconColl1</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>DescColl1</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>{!$Label.SelectBidderType}</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>ResetValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>SelectionAnswer</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>8</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>RTSelectionRestricted_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Explanation1_EN</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Proactive bidders&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Fabricatoris that we have notified about the project, or who have applied on their own initiative.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;Competitors&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Bidders who are positioned with another system house (competitor)&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Language</leftValueReference>
                            <operator>NotEqualTo</operator>
                            <rightValue>
                                <stringValue>de</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Explanation1_DE</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; background-color: rgb(255, 255, 255);&quot;&gt;Initiativbieter&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Verarbeiter welche wir auf das Projekt aufmerksam gemacht haben, oder sich auf eigene Initiative beworben haben.&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 14px; color: rgb(68, 68, 68); background-color: rgb(255, 255, 255);&quot;&gt;Wettbewerber&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;Bieter, die mit einem anderen Systemhaus (Wettbewerber) aufgestellt sind&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Language</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>de</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetBidderListSentStatus</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>Competitor</stringValue>
        </value>
    </variables>
    <variables>
        <name>BidderListSentV</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>BiddingCreation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Bidder__c</objectType>
    </variables>
    <variables>
        <name>choiceRT</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>CompRT</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>GetBidderRT_Competitor.Id</elementReference>
        </value>
    </variables>
    <variables>
        <name>ContactOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>DescColl1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>DescCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>false</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IconColl1</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IconCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelColl</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LabelCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.LanguageLocaleKey</elementReference>
        </value>
    </variables>
    <variables>
        <name>OpportunityProABid</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>PresentedToBidder</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>recordId</elementReference>
        </value>
    </variables>
    <variables>
        <name>RTChoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectedBidAccount</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SelectedCompetitorAcc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SelectionAnswer</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
