force-app/main/default/flows/BuildingProject_ContactBidders.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Cancel1</name>
        <label>Cancel1</label>
        <locationX>314</locationX>
        <locationY>782</locationY>
        <actionName>c:showToast</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>message</name>
            <value>
                <elementReference>ToastMessage</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <stringValue>info</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:showToast</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>SendEmailApex</name>
        <label>SendEmailApex</label>
        <locationX>666</locationX>
        <locationY>890</locationY>
        <actionName>EmailClass</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>ContactSending</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>flowinput</name>
            <value>
                <elementReference>ClassParameters</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EmailClass</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>AssignApexVariables</name>
        <label>AssignApexVariables</label>
        <locationX>666</locationX>
        <locationY>782</locationY>
        <assignmentItems>
            <assignToReference>ClassParameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClassParameters</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>CurrentUserID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>SendEmailApex</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignmentOppy</name>
        <label>AssignmentOppy</label>
        <locationX>754</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>RaicoBidderOppy.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GetContactforEachLoop.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RaicoBidderOppy.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppClosedDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RaicoBidderOppy.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RaicoBidderOppy.BuildingProject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RaicoBidderOppy.External_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppExtId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RaicoBidderOppy.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OppName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CreateRaicoBidderOppy</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CancelSending</name>
        <label>CancelSending</label>
        <locationX>490</locationX>
        <locationY>674</locationY>
        <defaultConnector>
            <targetReference>AssignApexVariables</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>Cancellation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ScreenSelection</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Cancel</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Cancel1</targetReference>
            </connector>
            <label>Cancellation</label>
        </rules>
    </decisions>
    <decisions>
        <name>ListAlreadySent</name>
        <label>ListAlreadySent?</label>
        <locationX>270</locationX>
        <locationY>458</locationY>
        <defaultConnector>
            <targetReference>Sendung_der_Bieterliste</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Standardergebnis</defaultConnectorLabel>
        <rules>
            <name>ListSent2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ListSent1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>GetBuildingProject.BidderListSent__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>BereitsVersendet1</targetReference>
            </connector>
            <label>ListSent</label>
        </rules>
    </decisions>
    <description>Updated to include Account Owners in BCC
Apex Class email sending
all parameters with running user email sent to flow
Opportunity initial stage = Open</description>
    <dynamicChoiceSets>
        <name>RaicoBidderCollectionR</name>
        <collectionReference>GetRaicoBidders</collectionReference>
        <dataType>String</dataType>
        <displayField>ContactPerson__c</displayField>
        <object>Bidder__c</object>
        <valueField>ContactPerson__c</valueField>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AccOwnerEQUALSUser</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName} + &apos; &apos; + {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <description>email address of the currentuser</description>
        <name>CurrentuserEmail</name>
        <dataType>String</dataType>
        <expression>{!$User.Email}</expression>
    </formulas>
    <formulas>
        <name>CurrentUserID</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>FinalSentenceUNEQUALFormula</name>
        <dataType>String</dataType>
        <expression>{!AccOwner} +&apos; &apos;+ {!AccOwnerLastName} +&apos; &amp; &apos;+ {!$User.FirstName} +&apos; &apos;+ {!$User.LastName}</expression>
    </formulas>
    <formulas>
        <name>OppClosedDate</name>
        <dataType>Date</dataType>
        <expression>IF(isnull({!GetBuildingProject.SubmissionDate__c}), ADDMONTHS(TODAY(),1), {!GetBuildingProject.SubmissionDate__c})</expression>
    </formulas>
    <formulas>
        <name>OppExtId</name>
        <dataType>String</dataType>
        <expression>{!GetContactforEachLoop.Account.ComarchAccountNumber__c} + {!GetBuildingProject.ComarchBuildingProjectNumber__c}</expression>
    </formulas>
    <formulas>
        <name>OppName</name>
        <dataType>String</dataType>
        <expression>{!GetContactforEachLoop.Account.Name} +&apos; | &apos;+ {!GetBuildingProject.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjDE</name>
        <dataType>String</dataType>
        <expression>&apos;Bieterliste für das Bauvorhaben&apos; + &apos; &apos; + {!GetBuildingProject.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjEN</name>
        <dataType>String</dataType>
        <expression>&apos;Bidder list for the construction project &apos; + &apos; &apos; + {!GetBuildingProject.Name}</expression>
    </formulas>
    <formulas>
        <name>SubjFR</name>
        <dataType>String</dataType>
        <expression>&apos;Liste des soumissionnaires pour le projet de construction &apos; + &apos; &apos; + {!GetBuildingProject.Name}</expression>
    </formulas>
    <interviewLabel>BuildingProject_ContactBidders {!$Flow.CurrentDateTime}</interviewLabel>
    <label>BuildingProject_ContactBidders</label>
    <loops>
        <name>ContactSending</name>
        <label>ContactSending</label>
        <locationX>666</locationX>
        <locationY>998</locationY>
        <collectionReference>GetRaicoBidders</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>GetContactforEachLoop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateSentCheckbox</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRaicoBidderOppy</name>
        <label>CreateRaicoBidderOppy</label>
        <locationX>754</locationX>
        <locationY>1322</locationY>
        <connector>
            <targetReference>ContactSending</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Opportunity_Creation</targetReference>
        </faultConnector>
        <inputReference>RaicoBidderOppy</inputReference>
    </recordCreates>
    <recordLookups>
        <name>GetBuildingProject</name>
        <label>GetBuildingProject</label>
        <locationX>270</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetRaicoBidders</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>BuildingProject__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetContactforEachLoop</name>
        <label>GetContactforEachLoop</label>
        <locationX>754</locationX>
        <locationY>1106</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AssignmentOppy</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ContactSending.ContactPerson__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRaicoBidders</name>
        <label>GetRaicoBidders</label>
        <locationX>270</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ListAlreadySent</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Building_Project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GetRecordTypeRB.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Interest__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Interested</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Bidder__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Account__c</queriedFields>
        <queriedFields>Account_Name__c</queriedFields>
        <queriedFields>ContactPerson__c</queriedFields>
        <queriedFields>Interest__c</queriedFields>
        <queriedFields>Presented__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>GetRecordTypeRB</name>
        <label>GetRecordTypeRB</label>
        <locationX>270</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetBuildingProject</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Bidder__c</stringValue>
            </value>
        </filters>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Raico_bidder</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateSentCheckbox</name>
        <label>UpdateSentCheckbox</label>
        <locationX>666</locationX>
        <locationY>1754</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BidderListSent__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>BuildingProject__c</object>
    </recordUpdates>
    <screens>
        <name>BereitsVersendet1</name>
        <label>BereitsVersendet</label>
        <locationX>50</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>BereitsVersendet</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 16px; color: rgb(240, 70, 70);&quot;&gt;Die Bieterliste wurde bereits versendet.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Creation</name>
        <label>Opportunity Creation</label>
        <locationX>1018</locationX>
        <locationY>1430</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorDE</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Der Raico Bieter mit Interesse wurde benachrichtigt.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Jedoch wurde für diesen keine Opportunity angelegt, da womöglich bereits eine existiert und Sie versuchen ein Duplikat anzulegen.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorEN</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;The Raico bidder with interest has been notified.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;However, no opportunity has been created for this one, as one may already exist and you are trying to create a duplicate.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>fr</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>ErrorFR</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;L&apos;enchérisseur Raico intéressé a été averti.&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 13px;&quot;&gt;Cependant, aucune opportunité n&apos;a été créée pour lui, car il est possible qu&apos;il en existe déjà une et que vous essayiez de créer un doublon.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>fr</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Sendung_der_Bieterliste</name>
        <label>Sendung der Bieterliste</label>
        <locationX>490</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CancelSending</targetReference>
        </connector>
        <fields>
            <name>Sure</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿Are you sure you want to contact the raico bidders?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Sicher</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;font-size: 16px;&quot;&gt;﻿Wollen Sie die Raico Bieter nun benachrichtigen?&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Language</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>de</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <pauseButtonLabel>Abbrechen</pauseButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>144</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetRecordTypeRB</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>BidderMessageTemplateDE</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>{!salutation_final} {!FirstName} {!LastName},

Sie wurden von uns beim Bauvorhaben {!GetBuildingProject.Name} für die Bieterliste benannt.

Sie werden in den nächsten Tagen die Ausschreibungsunterlagen erhalten bzw. auf die Veröffentlichung aufmerksam gemacht werden.

Sollten Sie Unterstützung bei der Angebotserstellung benötigen, melden Sie sich gerne bei uns.

Für Rückfragen stehen wir Ihnen gerne zur Verfügung.
{!FinalSentenceTemplate}</text>
    </textTemplates>
    <textTemplates>
        <name>BidderMessageTemplateEN</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Dear {!FirstName} {!LastName},

You have been nominated by us for the list of bidders in the construction project {!GetBuildingProject.Name}.

You will receive the tender documents in the next few days or be made aware of the publication.

Should you require assistance in preparing your bid, please do not hesitate to contact us.

We will be happy to answer any questions you may have.

Best regards,
{!FinalSentenceTemplate}</text>
    </textTemplates>
    <textTemplates>
        <name>BidderMessageTemplateFR</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Cher(e) partenaire {!FirstName} {!LastName},

Vous avez été désigné par nos soins pour figurer sur la liste des soumissionnaires dans le cadre du projet {!GetBuildingProject.Name}.

Vous recevrez dans les prochains jours les documents d&apos;appel d&apos;offres ou serez informés de leur publication.

Si vous avez besoin d&apos;aide pour l&apos;élaboration de votre offre, n&apos;hésitez pas à nous contacter.

Nous restons à votre disposition pour tout renseignement complémentaire.

Meilleures salutations
{!FinalSentenceTemplate}</text>
    </textTemplates>
    <variables>
        <name>AccountOwnerUserEmail</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccOwnerEmail</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccOwnerEmailFinal</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>AccOwnerID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>AccOwnerLastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>BCC_AccountOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>BidderRecipientCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClassParameters</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This is the collection of the contacts we got out of the bidderlist in the first loop.</description>
        <name>ContactRecipientCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>FinalSentenceTemplate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>finalTempl</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>BidderMessageTemplateFR</elementReference>
        </value>
    </variables>
    <variables>
        <name>FirstName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Language</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$User.LanguageLocaleKey</elementReference>
        </value>
    </variables>
    <variables>
        <name>LastName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListSent</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ListSent1</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </variables>
    <variables>
        <name>MailAddress</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RaicoBidderOppy</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>RaicoBidderRecipientColl</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RecipientCollection</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Salutation</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>salutation_final</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sehr geehrte</stringValue>
        </value>
    </variables>
    <variables>
        <name>Salutation_man</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Sehr geehrter</stringValue>
        </value>
    </variables>
    <variables>
        <name>ScreenSelection</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Sender</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>SingleContactRecipient</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ToastMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>The process was stopped and the bidders were not notified.</stringValue>
        </value>
    </variables>
</Flow>
