force-app/main/default/flows/Jahresplanung.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Update_Budget_planning</name>
        <label>Update Budget planning</label>
        <locationX>264</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Budgetplanningvariable.x3yearsago__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Revenue_records_last_3_years.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Revenue_records_last_3_years</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Budget_Planning_2022</name>
        <label>Update Budget Planning 2022</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Budgetplanningvariable.x2yearsago__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Revenue_records_last_3_years.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Revenue_records_last_3_years</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Budget_Planning_2023</name>
        <label>Update Budget Planning 2023</label>
        <locationX>792</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>Budgetplanningvariable.vorjahr__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_Revenue_records_last_3_years.Amount__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_Revenue_records_last_3_years</targetReference>
        </connector>
    </assignments>
    <decisions>
        <description>On budget palnnie</description>
        <name>Decide_which_fields_to_write_your_years</name>
        <label>Decide which fields to write your years</label>
        <locationX>660</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>loop_Revenue_records_last_3_years</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>X2021</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Revenue_records_last_3_years.Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CYminus3</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Budget_planning</targetReference>
            </connector>
            <label>3 years ago</label>
        </rules>
        <rules>
            <name>X2022</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Revenue_records_last_3_years.Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CYminus2</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Budget_Planning_2022</targetReference>
            </connector>
            <label>2 yrs ago</label>
        </rules>
        <rules>
            <name>X2023</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_Revenue_records_last_3_years.Year__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>CYminus1</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Budget_Planning_2023</targetReference>
            </connector>
            <label>last year</label>
        </rules>
    </decisions>
    <description>The flow adds the revenue amounts for the previous years to fields on the Budget planning object. Without DML operations inside a loop. Renamed the year reference</description>
    <environments>Default</environments>
    <formulas>
        <name>CYminus1</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())-1)</expression>
    </formulas>
    <formulas>
        <name>CYminus2</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())-2)</expression>
    </formulas>
    <formulas>
        <name>CYminus3</name>
        <dataType>String</dataType>
        <expression>TEXT(YEAR(TODAY())-3)</expression>
    </formulas>
    <interviewLabel>Jahresplanung {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Jahresplanung</label>
    <loops>
        <name>loop_Revenue_records_last_3_years</name>
        <label>loop Revenue records last 3 years</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_Revenue_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decide_which_fields_to_write_your_years</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_Budget_planning_past_revenue</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Revenue_records</name>
        <label>Get Revenue records</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_Revenue_records_last_3_years</targetReference>
        </connector>
        <filterLogic>1 AND ( 2 OR 3 OR 4)</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CYminus1</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CYminus2</elementReference>
            </value>
        </filters>
        <filters>
            <field>Year__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CYminus3</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Revenue__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Budget_planning_past_revenue</name>
        <label>Update Budget planning past revenue</label>
        <locationX>176</locationX>
        <locationY>923</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>vorjahr__c</field>
            <value>
                <elementReference>Budgetplanningvariable.vorjahr__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>x2yearsago__c</field>
            <value>
                <elementReference>Budgetplanningvariable.x2yearsago__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>x3yearsago__c</field>
            <value>
                <elementReference>Budgetplanningvariable.x3yearsago__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Revenue_records</targetReference>
        </connector>
        <object>BudgetPlanning__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>Budgetplanningvariable</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>BudgetPlanning__c</objectType>
    </variables>
    <variables>
        <name>Revenue</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
    <variables>
        <name>RevenueList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Revenue__c</objectType>
    </variables>
</Flow>
