force-app/main/default/flows/Product_Show_Long_description.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>setDE</name>
        <label>setDE</label>
        <locationX>50</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>desc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProduct.Long_Description_DE__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TextBox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setDefault</name>
        <label>setDefault</label>
        <locationX>842</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>desc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProduct.Long_Description_EN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TextBox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setEN</name>
        <label>setEN</label>
        <locationX>314</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>desc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProduct.Long_Description_EN__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TextBox</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>setFR</name>
        <label>setFR</label>
        <locationX>578</locationX>
        <locationY>398</locationY>
        <assignmentItems>
            <assignToReference>desc</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getProduct.Long_Description_FR__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TextBox</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Language</name>
        <label>Language?</label>
        <locationX>446</locationX>
        <locationY>278</locationY>
        <defaultConnector>
            <targetReference>setDefault</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>de</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LanguageLocaleKey</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>de</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setDE</targetReference>
            </connector>
            <label>de</label>
        </rules>
        <rules>
            <name>en</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LanguageLocaleKey</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>en</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setEN</targetReference>
            </connector>
            <label>en</label>
        </rules>
        <rules>
            <name>fr</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$User.LanguageLocaleKey</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>fr</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>setFR</targetReference>
            </connector>
            <label>fr</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Product - Show Long description {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Product - Show Long description</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>getProduct</name>
        <label>getProduct</label>
        <locationX>446</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Language</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>TextBox</name>
        <label>TextBox</label>
        <locationX>446</locationX>
        <locationY>614</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Description_Long</name>
            <fieldText>Description (Long)</fieldText>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Description_Long_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>showDesc</name>
                    <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;{!desc}&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithHeader</regionContainerType>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getProduct</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>desc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
