force-app/main/default/flows/Visit_Report_Create_Report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>AddOpportunityToList</name>
        <label>AddOpportunityToList</label>
        <locationX>264</locationX>
        <locationY>2330</locationY>
        <assignmentItems>
            <assignToReference>RelatedOpportunityList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelatedOpportunity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>LoopAssociateOpps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add all the related visit report building project records for each building project defined in the Add projects screen to the record collection list</description>
        <name>AddRelatedBuildingProjectAssocList</name>
        <label>AddRelatedBuildingProjectAssocList</label>
        <locationX>264</locationX>
        <locationY>1706</locationY>
        <assignmentItems>
            <assignToReference>RelatedBuildingProjectList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>RelatedBuildingProject</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Visiting_Report_Building_project_Relation</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Add Related Contacts from Visit Report to list</description>
        <name>AddRelatedContactsToList</name>
        <label>AddRelatedContactsToList</label>
        <locationX>264</locationX>
        <locationY>1082</locationY>
        <assignmentItems>
            <assignToReference>RelatedContactsVisitReportList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VisitReportRelatedContacts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopVisitReportRelateContacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AddRelatedUsersToList</name>
        <label>AddRelatedUsersToList</label>
        <locationX>264</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>VisitReportRelatedUsersList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>VisitReportRelatedUsers</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopThruInteralUsers</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>For each iteration, assign contact to the visit report</description>
        <name>Assign_associated_Contacts</name>
        <label>Assign associated Contacts</label>
        <locationX>264</locationX>
        <locationY>974</locationY>
        <assignmentItems>
            <assignToReference>VisitReportRelatedContacts.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopVisitReportRelateContacts</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitReportRelatedContacts.Visit_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateVisitReportInitial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddRelatedContactsToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assign each associated Building project, given by the user previously in the screen, to a record variable that stores Related Visit Report Building projects Object records.</description>
        <name>AssignAssociatedBuildingProject</name>
        <label>AssignAssociatedBuildingProject</label>
        <locationX>264</locationX>
        <locationY>1598</locationY>
        <assignmentItems>
            <assignToReference>RelatedBuildingProject.BuildingProject__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Visiting_Report_Building_project_Relation</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedBuildingProject.VisitReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateVisitReportInitial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddRelatedBuildingProjectAssocList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Assing the associate opportunity from the lookup list</description>
        <name>AssignAssocOpportunity</name>
        <label>AssignAssocOpportunity</label>
        <locationX>264</locationX>
        <locationY>2222</locationY>
        <assignmentItems>
            <assignToReference>RelatedOpportunity.Opportunity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopAssociateOpps</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>RelatedOpportunity.VisitReport__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateVisitReportInitial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddOpportunityToList</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AssignRelatedUser</name>
        <label>AssignRelatedUser</label>
        <locationX>264</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>VisitReportRelatedUsers.User__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopThruInteralUsers</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VisitReportRelatedUsers.Visit_Report__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CreateVisitReportInitial</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>AddRelatedUsersToList</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Aluminium</name>
        <choiceText>Aluminium</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Aluminium</stringValue>
        </value>
    </choices>
    <choices>
        <name>Baustelle</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Construction_site}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Construction site</stringValue>
        </value>
    </choices>
    <choices>
        <name>Beschr_nkt</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Restricted}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Restricted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Best_Case</name>
        <choiceText>{!$Label.BestCase}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Best Case</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bestehende_Opportunity_verlinken</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Label.Link_Opportunity}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bestehende Opportunity verlinken</stringValue>
        </value>
    </choices>
    <choices>
        <name>Bestehendes_Bauvorhaben_verlinken</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Label.Link_Building_Project}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Bestehendes Bauvorhaben verlinken</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>{!$Label.Closed}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Closed_Won</name>
        <choiceText>{!$Label.Closed_Won}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Won</stringValue>
        </value>
    </choices>
    <choices>
        <name>ClosedLost</name>
        <choiceText>{!$Label.Closed_Lost}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed Lost</stringValue>
        </value>
    </choices>
    <choices>
        <name>Commit</name>
        <choiceText>{!$Label.Commit}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Commit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Culture</name>
        <choiceText>{!$Label.Culture}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Culture</stringValue>
        </value>
    </choices>
    <choices>
        <name>d_00</name>
        <choiceText>0:30</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_01</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;1:00&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_02</name>
        <choiceText>7:30</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_03</name>
        <choiceText>1:30</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_04</name>
        <choiceText>2:00</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_05</name>
        <choiceText>2:30</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_06</name>
        <choiceText>3:00</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_07</name>
        <choiceText>3:30</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_08</name>
        <choiceText>4:00</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_09</name>
        <choiceText>4:30</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>4.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_10</name>
        <choiceText>5:00</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_11</name>
        <choiceText>5:30</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>5.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_12</name>
        <choiceText>6:00</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_13</name>
        <choiceText>6:30</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>6.5</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_14</name>
        <choiceText>7:00</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>7.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>d_15</name>
        <choiceText>8:00</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>8.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Education</name>
        <choiceText>{!$Label.Education}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Education</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Email}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>Erweiterung</name>
        <choiceText>Erweiterung</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Erweiterung</stringValue>
        </value>
    </choices>
    <choices>
        <name>Extension</name>
        <choiceText>{!$Label.Extension}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Extension</stringValue>
        </value>
    </choices>
    <choices>
        <name>ffentlich</name>
        <choiceText>Öffentlich</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public</stringValue>
        </value>
    </choices>
    <choices>
        <name>GU</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.General_Contractor}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>General Contractor</stringValue>
        </value>
    </choices>
    <choices>
        <name>Holz</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Timber}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Timber</stringValue>
        </value>
    </choices>
    <choices>
        <name>iBau</name>
        <choiceText>iBau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>iBau</stringValue>
        </value>
    </choices>
    <choices>
        <name>In_Vorbereitung</name>
        <choiceText>{!$Label.In_Preperation}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>In Preparation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Industrie</name>
        <choiceText>{!$Label.Industrial_and_t}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Industrie</stringValue>
        </value>
    </choices>
    <choices>
        <name>Kein_Bauvorhaben_angeben</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Label.No_Building_Project}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Kein Bauvorhaben angeben</stringValue>
        </value>
    </choices>
    <choices>
        <name>Keine_Opportunity_angeben</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Label.No_Opportunity}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Keine Opportunity angeben</stringValue>
        </value>
    </choices>
    <choices>
        <name>Key_Objekt_KAM</name>
        <choiceText>Key Objekt KAM</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Key Object KAM</stringValue>
        </value>
    </choices>
    <choices>
        <name>n_00</name>
        <choiceText>00</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>n_01</name>
        <choiceText>01</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>n_15</name>
        <choiceText>15</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>15.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>n_30</name>
        <choiceText>30</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>30.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>n_45</name>
        <choiceText>45</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>45.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Neubau</name>
        <choiceText>Neubau</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neubau</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neue_Opportunity_erstellen</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Label.Create_Opportunity}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neue Opportunity erstellen</stringValue>
        </value>
    </choices>
    <choices>
        <name>Neues_Bauvorhaben_anlegen</name>
        <choiceText>&lt;span style=&quot;font-size: 13px;&quot;&gt;{!$Label.Create_Building_Project}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Neues Bauvorhaben anlegen</stringValue>
        </value>
    </choices>
    <choices>
        <name>New_construction</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.New_construction}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New construction</stringValue>
        </value>
    </choices>
    <choices>
        <name>Office_and_Admin</name>
        <choiceText>{!$Label.Office}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Office and Admin</stringValue>
        </value>
    </choices>
    <choices>
        <name>Omitted</name>
        <choiceText>{!$Label.Omitted}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Omitted</stringValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>{!$Label.Other}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other</stringValue>
        </value>
    </choices>
    <choices>
        <name>Othere</name>
        <choiceText>Othere</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Othere</stringValue>
        </value>
    </choices>
    <choices>
        <name>Own_research</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Own_research}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Own research</stringValue>
        </value>
    </choices>
    <choices>
        <name>Personal_network</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Personal_network}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Personal network</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone_call</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Phone_call}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone call</stringValue>
        </value>
    </choices>
    <choices>
        <name>Pipeline</name>
        <choiceText>{!$Label.Pipeline}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Pipeline</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prio_A</name>
        <choiceText>Prio A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prio A</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prio_B</name>
        <choiceText>Prio B</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prio B</stringValue>
        </value>
    </choices>
    <choices>
        <name>Prio_C</name>
        <choiceText>Prio C</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Prio C</stringValue>
        </value>
    </choices>
    <choices>
        <name>Proposal</name>
        <choiceText>{!$Label.Proposal}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Proposal</stringValue>
        </value>
    </choices>
    <choices>
        <name>Public</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Public}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Public</stringValue>
        </value>
    </choices>
    <choices>
        <name>Renovation</name>
        <choiceText>{!$Label.R}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Renovation</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sanierung</name>
        <choiceText>Sanierung</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sanierung</stringValue>
        </value>
    </choices>
    <choices>
        <name>Sport</name>
        <choiceText>{!$Label.Sport}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Sport</stringValue>
        </value>
    </choices>
    <choices>
        <name>Stahl</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Steel}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Steel</stringValue>
        </value>
    </choices>
    <choices>
        <name>TED</name>
        <choiceText>TED</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>TED</stringValue>
        </value>
    </choices>
    <choices>
        <name>Vergabe24</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.Vergabe24}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Vergabe24</stringValue>
        </value>
    </choices>
    <choices>
        <name>vip</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;{!$Label.vip_Network}&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>vip</stringValue>
        </value>
    </choices>
    <choices>
        <name>Wohnen</name>
        <choiceText>{!$Label.Habitation}</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Habitation</stringValue>
        </value>
    </choices>
    <choices>
        <name>X0_30</name>
        <choiceText>0:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_00</name>
        <choiceText>1:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>X1_30</name>
        <choiceText>1:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>1:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_00</name>
        <choiceText>2:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>X2_30</name>
        <choiceText>2:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>2:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>X30_min</name>
        <choiceText>0,5</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>0,5</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_00</name>
        <choiceText>3:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>X3_50</name>
        <choiceText>3:50</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>3:50</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_00</name>
        <choiceText>4:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>X4_30</name>
        <choiceText>4:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>4:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_00</name>
        <choiceText>5:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>X5_30</name>
        <choiceText>5:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>5:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_00</name>
        <choiceText>6:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>X6_30</name>
        <choiceText>6:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>6:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_00</name>
        <choiceText>7:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:00</stringValue>
        </value>
    </choices>
    <choices>
        <name>X7_30</name>
        <choiceText>7:30</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>7:30</stringValue>
        </value>
    </choices>
    <choices>
        <name>X8_00</name>
        <choiceText>8:00</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>8:00</stringValue>
        </value>
    </choices>
    <description>Fixed User Relation assignment- Run without sharing- Kurtis</description>
    <environments>Default</environments>
    <formulas>
        <name>External_participants</name>
        <dataType>String</dataType>
        <expression>{!$Label.External_participants}</expression>
    </formulas>
    <formulas>
        <name>Internal_participants</name>
        <dataType>String</dataType>
        <expression>{!$Label.Internal_participants}</expression>
    </formulas>
    <interviewLabel>Visit Report - Create Report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Visit Report - Create Report</label>
    <loops>
        <name>LoopAssociateOpps</name>
        <label>LoopAssociateOpps</label>
        <locationX>176</locationX>
        <locationY>2114</locationY>
        <collectionReference>Opportunity.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAssocOpportunity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateRelatedOpportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate though the internal users given in the Screenflow</description>
        <name>LoopThruInteralUsers</name>
        <label>LoopThruInteralUsers</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <collectionReference>RelatedUsers.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignRelatedUser</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateVisitReportRelatedUserRecord</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Gathers Visit Report related contacts</description>
        <name>LoopVisitReportRelateContacts</name>
        <label>LoopVisitReportRelateContacts</label>
        <locationX>176</locationX>
        <locationY>866</locationY>
        <collectionReference>RelatedContactsLink.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_associated_Contacts</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_Visit_Report_Related_Contacts</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <description>Iterate over the associated</description>
        <name>Visiting_Report_Building_project_Relation</name>
        <label>Visiting Report Building project Relation</label>
        <locationX>176</locationX>
        <locationY>1490</locationY>
        <collectionReference>BuildingProject.recordIds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AssignAssociatedBuildingProject</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CreateRelatedBuildingProjects</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>From the list , create the corresponding Visit Report Related Contacts</description>
        <name>Create_Visit_Report_Related_Contacts</name>
        <label>Create Visit Report Related Contacts</label>
        <locationX>176</locationX>
        <locationY>1274</locationY>
        <connector>
            <targetReference>AddBuildingProject</targetReference>
        </connector>
        <inputReference>RelatedContactsVisitReportList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateRelatedBuildingProjects</name>
        <label>CreateRelatedBuildingProjects</label>
        <locationX>176</locationX>
        <locationY>1898</locationY>
        <connector>
            <targetReference>AddOpportunities</targetReference>
        </connector>
        <inputReference>RelatedBuildingProjectList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>CreateRelatedOpportunities</name>
        <label>CreateRelatedOpportunities</label>
        <locationX>176</locationX>
        <locationY>2588</locationY>
        <inputReference>RelatedOpportunityList</inputReference>
    </recordCreates>
    <recordCreates>
        <description>Create the Visit report from the information provided in the previous screen. Use this record later in the flow</description>
        <name>CreateVisitReportInitial</name>
        <label>CreateVisitReport</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>LoopThruInteralUsers</targetReference>
        </connector>
        <faultConnector>
            <targetReference>errorText</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>AccountId.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact__c</field>
            <value>
                <elementReference>Contact.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Content__c</field>
            <value>
                <elementReference>Content.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Duration__c</field>
            <value>
                <elementReference>Duration</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Title</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>VisitDate__c</field>
            <value>
                <elementReference>Date</elementReference>
            </value>
        </inputAssignments>
        <object>VisitReport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>At the end of loop , create all the Visit Report Related User Records from the list</description>
        <name>CreateVisitReportRelatedUserRecord</name>
        <label>CreateVisitReportRelatedUserRecord</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>LoopVisitReportRelateContacts</targetReference>
        </connector>
        <inputReference>VisitReportRelatedUsersList</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>AddBuildingProject</name>
        <label>Add Building Project</label>
        <locationX>176</locationX>
        <locationY>1382</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Visiting_Report_Building_project_Relation</targetReference>
        </connector>
        <fields>
            <name>BuildingProjectSelection</name>
            <choiceReferences>Bestehendes_Bauvorhaben_verlinken</choiceReferences>
            <choiceReferences>Kein_Bauvorhaben_angeben</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Kein_Bauvorhaben_angeben</defaultSelectedChoiceReference>
            <fieldText>{!$Label.Choose_Option}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AddBuildingProject_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddBuildingProject_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RelateBuildingProjectTitle</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.Link_Building_Project}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>BuildingProject</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <elementReference>$Label.Building_Project</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BuildingProject__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>VisitReportBuildingProjectRelation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>BuildingProjectSelection</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <elementReference>Bestehendes_Bauvorhaben_verlinken</elementReference>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BuildingProjectSelection</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Bestehendes_Bauvorhaben_verlinken</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>AddOpportunities</name>
        <label>Add Opportunities</label>
        <locationX>176</locationX>
        <locationY>2006</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>LoopAssociateOpps</targetReference>
        </connector>
        <fields>
            <name>NewOpportunity</name>
            <choiceReferences>Bestehende_Opportunity_verlinken</choiceReferences>
            <choiceReferences>Keine_Opportunity_angeben</choiceReferences>
            <dataType>String</dataType>
            <defaultSelectedChoiceReference>Keine_Opportunity_angeben</defaultSelectedChoiceReference>
            <fieldText>{!$Label.Choose_Option}</fieldText>
            <fieldType>RadioButtons</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>AddOpportunities_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddOpportunities_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>RelateOpportunityTitle</name>
                    <fieldText>&lt;p&gt;&lt;strong style=&quot;font-size: 14px;&quot;&gt;{!$Label.Link_Opportunity}&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <fields>
                    <name>Opportunity</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>VisitReportOpportunityRelation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Opportunity__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>10.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewOpportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Bestehende_Opportunity_verlinken</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AddOpportunities_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>AddOpportunities_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>NewOpportunity</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Neue_Opportunity_erstellen</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Error message that is displayed to user</description>
        <name>errorText</name>
        <label>errorText</label>
        <locationX>440</locationX>
        <locationY>350</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessageToDisplay</name>
            <fieldText>&lt;p&gt;{!$Label.Error_FLOW}&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong style=&quot;color: rgb(234, 7, 7);&quot;&gt;{!$Flow.FaultMessage}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>VisitReport</name>
        <label>Visit Report</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateVisitReportInitial</targetReference>
        </connector>
        <fields>
            <name>VisitReport_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VisitReport_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountId</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>VisitReport__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Account__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>{!$Label.Account} </stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VisitReport_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Contact__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Primary Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>VisitReport__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>maxValues</name>
                        <value>
                            <numberValue>1.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>VisitReport_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>VisitReport_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Date</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>$Flow.CurrentDate</elementReference>
                    </defaultValue>
                    <fieldText>{!$Label.Date}</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VisitReport_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Duration</name>
                    <choiceReferences>d_00</choiceReferences>
                    <choiceReferences>d_01</choiceReferences>
                    <choiceReferences>d_03</choiceReferences>
                    <choiceReferences>d_04</choiceReferences>
                    <choiceReferences>d_05</choiceReferences>
                    <choiceReferences>d_06</choiceReferences>
                    <choiceReferences>d_07</choiceReferences>
                    <choiceReferences>d_08</choiceReferences>
                    <choiceReferences>d_09</choiceReferences>
                    <choiceReferences>d_10</choiceReferences>
                    <choiceReferences>d_11</choiceReferences>
                    <choiceReferences>d_12</choiceReferences>
                    <choiceReferences>d_13</choiceReferences>
                    <choiceReferences>d_14</choiceReferences>
                    <choiceReferences>d_02</choiceReferences>
                    <choiceReferences>d_15</choiceReferences>
                    <dataType>Number</dataType>
                    <fieldText>{!$Label.Duration}</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>VisitReport_Section2_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>3</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Title</name>
            <dataType>String</dataType>
            <fieldText>{!$Label.Title}</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Content</name>
            <extensionName>c:inputRichTextFSC</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <elementReference>$Label.Comment</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Relate_Contacts</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!External_participants}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedContactsLink</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Report_Contact_Relation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Contact__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Contacts</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>InternalUser</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0);&quot;&gt;{!Internal_participants}&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RelatedUsers</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>User__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related Users</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Visit_Report_User_Relation__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxValues</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>VisitReport</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>counts the number of Building projects already related</description>
        <name>Counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <description>Counts the amount of opportunites created after each iteration</description>
        <name>CountOpp</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>CountryCodeValue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewBuildingProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>BuildingProject__c</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RelatedBuildingProject</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReportBuildingProjectRelation__c</objectType>
    </variables>
    <variables>
        <name>RelatedBuildingProjectList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReportBuildingProjectRelation__c</objectType>
    </variables>
    <variables>
        <description>Store Contacts from Screen Visit Report</description>
        <name>RelatedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>RelatedContactsVisitReportList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit_Report_Contact_Relation__c</objectType>
    </variables>
    <variables>
        <name>RelatedOpportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReportOpportunityRelation__c</objectType>
    </variables>
    <variables>
        <name>RelatedOpportunityList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>VisitReportOpportunityRelation__c</objectType>
    </variables>
    <variables>
        <name>Space</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Contacts related to the visit report. There can be multiple contacts chosen to be related to a visit report. These are chosen in the screen input by user. Each record will be added to a list</description>
        <name>VisitReportRelatedContacts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit_Report_Contact_Relation__c</objectType>
    </variables>
    <variables>
        <description>Can be internal or external users</description>
        <name>VisitReportRelatedUsers</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit_Report_User_Relation__c</objectType>
    </variables>
    <variables>
        <description>Add the records to a list</description>
        <name>VisitReportRelatedUsersList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit_Report_User_Relation__c</objectType>
    </variables>
</Flow>
